<div class="footer"> <!--styles.css-->
    <div class="container"> <!--bootstrap.css-->
        <div class="footer-left"> <!--style.css-->
            <ul>
                <li><a href="index.html"><i>Hotel</i>Booking</a><span> |</span></li>
                <li><p>Best Your Trips.</p></li>
            </ul>
        </div>
        <div class="footer-right"> <!--style.css-->
            <p>© 2021 Hotel Booking. All rights reserved</p>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>