<div class="navigation"> <!--styles.css-->
    <div class="container-fluid"> <!--bootstrap.css-->
        <nav class="pull"> <!--styles.css-->
            <ul class="nav"> <!--bootstrap.css ve style.css-->
                <li><a href="index.html" class="active"> Home</a></li><!--style.css-->
                <li><a href="#about" class="scroll"> About</a></li>
                <li><a href="#portfolio" class="menu scroll">Popular Places<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a></li><!--style.css--><!--boostrap.css--><!--style.css-->
                    <ul class="nav-sub"><!--style.css-->
                        <li><a href="#portfolio" class="scroll">Place 1</a></li>                                             
                        <li><a href="#portfolio" class="scroll">Place 2</a></li>																								
                        <li><a href="#portfolio" class="scroll">Place 3</a></li> 
                    </ul>
                <li><a href="#events" class="scroll"> Events</a></li>
                <li><a href="#mail" class="scroll"> Mail us</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="header-top"> <!--style.css-->
    <div class="container"> <!--bootstrap.css-->
        <div class="head-logo"> <!--style.css-->
            <a href="index.html"><span>Hotel</span>Booking</a>
        </div>
        <div class="clearfix"> </div> <!--styles.css-->
    </div>
</div>